python-telegram-bot
groq
google-generativeai
fastapi
uvicorn
python-docx
python-dotenv
pydantic
httpx
Telethon
pyasn1
pyasn1_modules
rsa
requests
google-auth
google-auth-oauthlib
google-ai-generativelanguage
google-api-core
google-api-python-client
cryptography
cffi
charset-normalizer
anyio
certifi
click
colorama
distro
h11
httpcore
websockets
Pillow
gspread
openpyxl
python-multipart
reportlab
opencv-python-headless
numpy
json-repair


